NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key
NEXT_PUBLIC_FORMSPREE_ID=your-formspree-id
DATABASE_URL="postgresql://postgres.enjdzjsuwmafrpfoufbt:norton22822228@aws-0-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require"
ADMIN_USER="admin"
ADMIN_PASS="secret"
